<h1>Listado de Usuarios</h1>
<a type="button" class="btn btn-dark mb-4" href="/administracion/nuevo">Crear nuevo usuario</a>
<div class="col-md-6">
    {{#if error}}
        <div class="alert alert-danger" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{error}}
        </div>
    {{/if}}
</div>

<table id="tablaIndex" class="table table-striped table-bordered" style="width: 100% ;">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuarios}}
            <tr>
                <td>{{@index}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{rol_fk}}</td>
                <td>{{estado}}</td>
                <td align="center">
                    <a href="/administracion/editarUsuario/{{id}}" class="bi bi-pencil" title="Editar"></a>
                    <a id="{{id}}" name='Borrar' class="bi bi-trash" title="Borrar"></a>         
                </td>
                {{!-- <td>{{createdAt}}</td> --}}
            </tr>
        {{/each}}
    </tbody>
</table>

<script>
 const elementE = document.querySelectorAll('[name="Borrar"]');

//Funciones
    elementE.forEach(borrar => borrar.addEventListener('click', (e)=>{
        const id = e.target.id;

        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
        title: 'Esta seguro de eliminar el elemento?',
        text: "No podra revertir esto!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, eliminar!',
        cancelButtonText: 'No, cancelar!',
        reverseButtons: true
        }).then((result) => {
        if (result.isConfirmed) {

            fetch(`/administracion/delete/${id}`).then(res => res.json()).then(res =>{
                swalWithBootstrapButtons.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
                )
                location.reload();
            })

        } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
        ) {
            swalWithBootstrapButtons.fire(
            'Cancelled',
            'Your imaginary file is safe :)',
            'error'
            )
        }
        })

    }));
</script>